body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 1em;
  accent-color: var(--color-accent)
}

html {
  --color-accent: oklch(65% 50% 0);
}

nav {
  display: flex;
  margin-bottom: 1em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a.current {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  padding-bottom: 0.2em;
}

nav a:hover {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);
  padding-bottom: 0.2em;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  gap: 1em;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto0fill, minmax(15em, 1fr));
  grid-template-rows: subgrid;
  grid-row: span 3;
  margin: 0;
  gap: 1em;
}